<!--hangman.html-->

{{ template "header.html" .}}

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div>
    <h1 class="display-5 fw-bold text-white">Hangman</h1>
    <div class="col-lg-6 mx-auto" id="gameContainer" style="font-size: 22px;">
      <p class="fs-5 mb-4">
        This is version of the classic letter guessing game called Hangman.
        You are shown a set of blank letters that match a word or phrase and you have to guess what these letters are to
        reveal the hidden word.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" onclick="startGame()" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Start
          game</button>
      </div>
    </div>
  </div>
</div>
<script>
  function startGame() {
    var request = new XMLHttpRequest();
    request.open('GET', '/api/v1/hangman/start');
    request.send();
    request.onreadystatechange = function () {
      if (request.readyState == 4 && request.status == 200) {
        const data = JSON.parse(request.response);
        console.log(data);

        const alphabet = [...'abcdefghijklmnopqrstuvwxyz'];
        keysText = '';
        alphabet.forEach(function (item, i, arr) {
          keysText = keysText + '<button onclick="guess(' + item + ')" style="font-size: 30px; width: 40px; margin: 2px;" type="button">' + item + '</button>'
        });
        container = document.getElementById('gameContainer');
        container.innerHTML = 'status<br>' + '<pre>' + data.textImg + '</pre>' +
          'word<br>' + data.word +
          '<br><br>' +
          keysText
      }
    }

    function guess(char) {
      var request = new XMLHttpRequest();
      request.open('GET', '/api/v1/hangman/guess?char=' + char);
      request.send();
      request.onreadystatechange = function () {
        if (request.readyState == 4 && request.status == 200) {
          const data = JSON.parse(request.response);
          console.log(data);
        }
      }
    }

  }
</script>

{{ template "footer.html" .}}